<div class="category">
<h2>
<a href="<%=`/${name}`%>">
<%= name %>
</a>
</h2>
<div class="buttons">
<a class="edit button" href="<%=`/edit/category/${name}`%>">
  Edit
</a>
<a class="delete button" href="<%=`/delete/category/${name}`%>">
  Delete
</a>
</div>
</div>
