<html>
  <head>
    <title>
      Inventory Application
    </title>
  </head>
  <body>
   <ul>
      <% categories.forEach((category) => { %>
      <%- include('category', {name: category.name}); %>
      <% }); %>
      <% books.forEach((book) => { %>
      <%- include('book', {name: book.name, categories: book.categories, author: book.author, price: book.price, published: book.published}); %>
      <% }); %>
  </ul>
  </body>
</html>

