<html>
  <head>
  <title>
    <%= title %>
  </title>
  </head>
  <body>
    <% if(title == "New Book"){ %>
      <form method="POST" action="/new/book">
        <label for="name"> Name: </label>
        <input type="text" name="name"/>
        <label for="categories"> Categories </label>
        <input type="checkbox" name="categories"/>
        <label for="author"> Author: </label>
        <input type="text" name="author"/>
        <label for="price"> Price: </label>
        <input type="number" name="price"/>
        <label for="published"> Date Published: </label>
        <input type="date" name="published"/>
    <button>
      Add Book
    </button>
    </form>
    <%}else{%>
    <form method="POST" action="/new/category">
      <label for="name"> Name: </label>
      <input type="text" name="name"/>
      <button>
        Add Category
      </button>
    </form>
    <%}%>
  </body>
</html>

